<span style='color: #900'>8,192 KB</span>    <span style='color: #090'>213.1422 ms</span><br />
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  The each() function is deprecated. This message will be suppressed on further calls</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 790</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/style.cls.php<br />
			Line: 790<br />
			Function: each			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/style.cls.php<br />
			Line: 727<br />
			Function: get_font_family			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/text_frame_reflower.cls.php<br />
			Line: 172<br />
			Function: __get			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/text_frame_reflower.cls.php<br />
			Line: 342<br />
			Function: _layout_line			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 464</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_decorator.cls.php<br />
			Line: 464<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 709<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 464</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_decorator.cls.php<br />
			Line: 464<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 709<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 464</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_decorator.cls.php<br />
			Line: 464<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 709<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 494</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/style.cls.php<br />
			Line: 494<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_positioner.cls.php<br />
			Line: 78<br />
			Function: length_in_pt			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 471<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 626<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/block_positioner.cls.php</p>
<p>Line Number: 81</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_positioner.cls.php<br />
			Line: 81<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 471<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 626<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  A non well formed numeric value encountered</p>
<p>Filename: include/image_frame_reflower.cls.php</p>
<p>Line Number: 116</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/image_frame_reflower.cls.php<br />
			Line: 116<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/image_frame_reflower.cls.php<br />
			Line: 71<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Notice</p>
<p>Message:  A non well formed numeric value encountered</p>
<p>Filename: include/image_frame_reflower.cls.php</p>
<p>Line Number: 116</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/image_frame_reflower.cls.php<br />
			Line: 116<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/image_frame_reflower.cls.php<br />
			Line: 71<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 464</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_decorator.cls.php<br />
			Line: 464<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 709<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 381</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/text_frame_reflower.cls.php<br />
			Line: 381<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/inline_positioner.cls.php<br />
			Line: 89<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 471<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/text_frame_reflower.cls.php<br />
			Line: 340<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/inline_frame_reflower.cls.php<br />
			Line: 96<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: 8192</p>
<p>Message:  Function create_function() is deprecated</p>
<p>Filename: include/text_frame_reflower.cls.php</p>
<p>Line Number: 381</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/text_frame_reflower.cls.php<br />
			Line: 381<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/inline_positioner.cls.php<br />
			Line: 89<br />
			Function: get_min_max_width			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 471<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_decorator.cls.php<br />
			Line: 220<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/text_frame_reflower.cls.php<br />
			Line: 345<br />
			Function: add_frame_to_line			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/inline_frame_reflower.cls.php<br />
			Line: 96<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/page_frame_decorator.cls.php</p>
<p>Line Number: 464</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_decorator.cls.php<br />
			Line: 464<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 709<br />
			Function: check_page_break			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/style.cls.php</p>
<p>Line Number: 494</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/style.cls.php<br />
			Line: 494<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_positioner.cls.php<br />
			Line: 78<br />
			Function: length_in_pt			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 471<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_decorator.cls.php<br />
			Line: 220<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 753<br />
			Function: add_frame_to_line			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>
<div style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">

<h4>A PHP Error was encountered</h4>

<p>Severity: Warning</p>
<p>Message:  A non-numeric value encountered</p>
<p>Filename: include/block_positioner.cls.php</p>
<p>Line Number: 81</p>


	<p>Backtrace:</p>
	
		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_positioner.cls.php<br />
			Line: 81<br />
			Function: _error_handler			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 471<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_decorator.cls.php<br />
			Line: 220<br />
			Function: position			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 753<br />
			Function: add_frame_to_line			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/block_frame_reflower.cls.php<br />
			Line: 706<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/page_frame_reflower.cls.php<br />
			Line: 169<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/frame_decorator.cls.php<br />
			Line: 477<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/dompdf/include/dompdf.cls.php<br />
			Line: 680<br />
			Function: reflow			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/libraries/Html2pdf.php<br />
			Line: 142<br />
			Function: render			</p>

		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/application/controllers/Vendor.php<br />
			Line: 433<br />
			Function: create			</p>

		
	
		
	
		
			<p style="margin-left:10px">
			File: /home/uobayw7t51nl/public_html/keyaan_ghama/index.php<br />
			Line: 315<br />
			Function: require_once			</p>

		
	

</div>